@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200&family=Festive&family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Righteous&display=swap');
body{
    margin: 0;
    padding: 0;
}

/* h1{
    line-height: 0.5;
    font-family: 'Righteous', cursive;
    font-size: 55px;
    font-weight: lighter;
    color: slategray;
 } */

 p{
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
    text-align: justify;
    font-weight: 600;
    color: dimgray;
    padding-bottom: 20px;
}

/* header section starts */
.clr-1{
    height: 80px;
    width: auto;
    background-color: tomato;
}
.half{
    display: flex;
    flex-wrap: nowrap;
}
.default_half{
    width: 50%;
    margin:0 5%;
}
.default_third{
    width: 33.33%;
    margin:0 5%;
}

.logo span{
    font-size: 40px;
    font-family: festive;
    font-weight: bold;
    font-style: italic;
    color:firebrick;
    border-radius: 10px;
}
.logo span:hover{
    color: rgb(85, 14, 6);;
}
.menu{
    padding-top: 20px;
}
.menu a{
    justify-content: space-between;
    text-decoration: none;
    display: inline;
    padding-left: 30px;
    color: brown;
    font-size: 20px;
}
.menu a:hover{
    color: ghostwhite;
    text-decoration: none;
}
/* header section ends */

/* section part 1 starts */
.part-1{
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/shapes/Frame 59.jpg");
}
.content-1{
    padding-top: 30px;
    padding-right: 40px;
}

.content-1 h1{
    /* line-height: 0.5; */
    font-family: 'Righteous', cursive;
    font-size: 55px;
    font-weight: lighter;
    color: slategray;
 }

.content-1 h1 span{
   color: salmon;
}

.content-1 a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-image: linear-gradient(45deg, tomato, #d27676);
    color: white;
    padding: 10px 24px;
    border-radius: 30px;
}
.content-1 a:hover{
    text-decoration: none;
    color: firebrick;
}
.content-1 p{
    letter-spacing: 1.2px; 
}

.content-2{
    padding-top: 30px;
}
.content-2 img{
    width: 90%;
}

/* section part 1 ends */

/* section part 2 starts */

.part-2{
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/shapes/Frame 58.jpg");
}
.about-1{

}
.about-1 img{

}
.about-2{
    margin-top: 10%;
}
.about-2 h1{
   font-family: 'Righteous', cursive;
   font-size: 55px;
   font-weight: lighter;
   color: slategray;
} 
.about-2 a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-image: linear-gradient(to right, tomato,rgb(243, 81, 81),tomato);
    color: white;
    padding: 10px 24px;
    border-radius: 30px;
}
.about-2 a:hover{
    text-decoration: none;
    color: firebrick;
}
.para{
    width: 85%;
}
.para p{
    letter-spacing: 1.2px; 
}
/* section part 2 ends */

.this{
    
}
/* section part 3 starts */
.part-3{
    margin-top: 60px;
    margin-bottom: 60px;
}
.part-3 h2{
    line-height: 0.5;
    font-family: 'Righteous', cursive;
    font-size: 45px;
    font-weight: lighter;
    color: slategray;
    padding-bottom: 20px;
}

.card-1{
    margin-right: 2%;
    padding: 10px 20px;
    box-shadow: 10px 10px 40px dimgray;
    border-radius: 10px;
    border-right: 6px solid rgb(239 140 140);
    border-bottom: 6px solid rgb(232 112 112);
}
.card-img img{
    width: 100%;
}
.para-card h3{
    padding: 20px 0;
}

/* section part 3 ends */

/* section part 4 starts */

.part-4{
    margin-top: 8%;
    margin-bottom: 10%;
}
.part-4 h2{
    line-height: 0.5;
    font-family: 'Righteous', cursive;
    font-size: 45px;
    font-weight: lighter;
    color: slategray;
    padding-bottom: 20px;
}
.the_forth{
    text-align: center;

    margin-right: 2%;
    margin-left: 4%;
    /* padding: 10px 20px; */
    padding-top: 35px;
    box-shadow: 10px 10px 40px dimgray;
    border-radius: 10px;
    /* border-right: 6px solid rgb(27 167 161);
    border-bottom: 6px solid rgb(84 225 238); */
}
.follow h2{
    line-height: 0.5;
    font-family:'Gill Sans MT', Calibri;
    font-size: 45px;
    font-weight: bold;
    color: rgb(19, 21, 24);
}
.follow p{
    text-align: center;
}


/* section part 4 ends */

/* section part 5 starts */
.part-5{
    margin-top: 20px;
    margin-bottom: 80px;
}
.part-5 h2{
    line-height: 0.5;
    font-family: 'Righteous', cursive;
    font-size: 45px;
    font-weight: lighter;
    color: slategray;
    padding-bottom: 20px;
}

.col-4 img{
    margin: 10px 0;
    height: 250px;
    width: 350px;
    margin-right: 2%;
    margin-left: 4%;
    cursor: pointer;
    padding-top: 0;
    /* box-shadow: 10px 10px 40px dimgray; */
    border-radius: 10px;

}
.col-4 img:hover{
    box-shadow: 10px 10px 50px rgb(87, 87, 87);
}
/* section part 5 ends */

/* footer part  starts*/
footer{
    height: 200px;
    background-image: linear-gradient(to left, rgb(241, 91, 91), rgb(236, 79, 79));
}
.foot-part p{
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
    letter-spacing: 1.2px;
    padding-top: 40px;
    padding-left: 40px;
    /* text-align: center; */
    font-weight: 600;
    color:black;
    font-weight: bold;
    font-size: 15px;
    /* padding-bottom: 20px; */
}
.foot-part a{
    text-decoration: none;
    color: black;
}
.foot-part span{
    display: none;
}
.foot-part a:hover+span{
    display: block;
    text-decoration: none;
}
.foot-part a:hover{
    text-decoration: none;
    color: burlywood;
}
#promo{
    font-size: 30px;
    display: block;
    padding-left: 25px;
}
address{
    padding-top: 25px;
    padding-left: 40px;
}
/* footer part  ends*/